img{
    height: 15vh;
    width: 30vh;
}
.wrapper{
    display : flex;
    justify-content: center;
}
.button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}