<form (ngSubmit)="addNewPlayer()" [formGroup]="newPlayerForm">
  <label for="name">FirstName:</label>
  <input type="text" formControlName="firstName" /><label for="lastName"
    >LastName:</label
  >
  <input type="text" formControlName="lastName" /><label for="position"
    >Position:</label
  >
  <select formControlName="position" name="position">
    <option [ngValue]="null" disabled>Select Country</option>
    <option [ngValue]="option.name" *ngFor="let option of options">
      {{ option.name }}
    </option>
  </select>
 

  <label for="team">Team :</label>
  <select formControlName="team" name="team">
    <option [ngValue]="null" disabled>Select Country</option>
    <option [ngValue]="option.name" *ngFor="let option of options">
      {{ option.name }}
    </option>
  </select>
  <input type="submit" />
</form>

<!-- private String firstname;
    private String lastname;

    @Enumerated(EnumType.STRING)
    private PlayerPositions position;

    @ManyToOne
    @JoinColumn(name = "team_id", referencedColumnName = "id")
    private Team team; -->
