.dash-line {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: rgb(0, 0, 0);
    max-width: 10px;
}