<form (ngSubmit)="editMatch()" [formGroup]="matchEditFrom">
    <label for="homeTeam">homeTeam:</label>
    <input type="text" formControlName="homeTeam" />
    <label for="homeTeamGoals">hometeamGoals:</label>
    <input type="text" formControlName="homeTeamGoals" />
    <label for="awayTeam">awayTeam:</label>
    <input type="text" formControlName="awayTeam" />
    <label for="awayTeamGoals">awayTeamGoals:</label>
    <input type="text" formControlName="awayTeamGoals" />
    <label for="startTime">startTime:</label>
    <input type="text" formControlName="startTime" />
    <label for="tournamentName">tournamentName:</label>
    <input type="text" formControlName="tournamentName" />
            
  <input type="submit" />
</form>
