<div class="w-full">
  <mat-list>
    <p class="text-center font-bold">ЗАЛОЗИ</p>
    <div *ngFor="let bet of bets">
      <div class="item py-2">
        <mat-list-item><img src="{{ bet.homeTeamUrl }}" alt="team1" /> </mat-list-item>
        <mat-list-item>{{ bet.homeTeamGoals }} </mat-list-item>
        <mat-list-item>{{ bet.awayTeamGoals }} </mat-list-item>
        <mat-list-item><img src="{{ bet.awayTeamUrl }}" alt="team2" /> </mat-list-item>
        <mat-list-item>{{ bet.tournamentName }} </mat-list-item>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</div>