<div class="min-w-screen flex flex-wrap justify-center m-10">
    <div *ngIf="user"
         class="w-96 h-full bg-primary-500 text-white rounded-lg m-4">
        <h2 class="text-3xl font-bold mt-6 mb-2 text-center">Профил</h2>
        <form class="flex flex-col p-8">
            <mat-form-field appearance="outline"
                            class="w-full mb-4">
                <mat-label>Потребителско име</mat-label>
                <input [readonly]="true"
                       [value]="user.username"
                       matInput
                       disabled
                       placeholder="Въведете вашето потребителско име.."
                       type="text"
                       class="!text-white" />
            </mat-form-field>
            <mat-form-field appearance="outline"
                            class="w-full mb-4">
                <mat-label>Име</mat-label>
                <input [readonly]="true"
                       [value]="user.firstName"
                       matInput
                       disabled
                       placeholder="Въведете вашето потребителско име.."
                       type="text"
                       class="!text-white" />
            </mat-form-field>

            <mat-form-field appearance="outline"
                            class="w-full mb-4">
                <mat-label>Фамилия</mat-label>
                <input [readonly]="true"
                       [value]="user.lastName"
                       matInput
                       disabled
                       placeholder="Въведете вашето потребителско име.."
                       type="text"
                       class="!text-white" />
            </mat-form-field>
            <mat-form-field appearance="outline"
                            class="w-full mb-4">
                <mat-label>Имейл адрес</mat-label>
                <input [readonly]="true"
                       [value]="user.email"
                       matInput
                       disabled
                       placeholder="Въведете вашето потребителско име.."
                       type="text"
                       class="!text-white" />
            </mat-form-field>
        </form>
    </div>
    <div *ngIf="user && user.bets.length > 0"
         class="m-4 h-full bg-primary-500 text-white rounded-lg">
        <div class="flex flex-col justify-center items-center m-4">
            <h2 class="text-3xl font-bold mb-2 text-center">История на прогнозите</h2>
            <matches-view [matches]="user!.bets">
            </matches-view>
        </div>
    </div>
</div>