<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
  <ng-container matColumnDef="homeTeam">
    <th mat-header-cell *matHeaderCellDef>Отбор домакин</th>
    <td mat-cell *matCellDef="let match">{{ match.homeTeam }}</td>
  </ng-container>


  <ng-container matColumnDef="awayTeam">
    <th mat-header-cell *matHeaderCellDef>Отбор гост</th>
    <td mat-cell *matCellDef="let match">{{ match.awayTeam }}</td>
  </ng-container>


  
  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef>начален час</th>
    <td mat-cell *matCellDef="let match">{{ match.startTime | date:'short'}}</td>
  </ng-container>
  <ng-container matColumnDef="tournamentName">
    <th mat-header-cell *matHeaderCellDef>Първенство/турнир</th>
    <td mat-cell *matCellDef="let match">{{ match.tournament }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row"> <button mat-button (click)="onClick(row)" >Create bet</button></td>
  </ng-container>

  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
</table>
