<h2 class="text-3xl font-bold mt-6 mb-2 text-center">Влез в системата</h2>
<form class="flex flex-col p-8" (ngSubmit)="login()" [formGroup]="loginForm">
  <mat-form-field appearance="outline" class="w-full mb-4">
    <mat-label>Потребителско име</mat-label>
    <input matInput placeholder="Въведете вашето потребителско име.." type="text" formControlName="username"
      class="bg-purple-700 text-white" />
    <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
      Полето за потребителско име e задължително.
    </mat-error>
    <mat-error *ngIf="loginForm.get('username')?.hasError('minlength')">
      Потребителското име трябва да e поне 3 символа.
    </mat-error>
    <mat-error *ngIf="loginForm.get('username')?.hasError('maxlength')">
      Потребителското име не може да бъде повече от 100 символа.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full mb-4">
    <mat-label>Парола</mat-label>
    <input matInput placeholder="Въведете вашата парола.." [type]="hide ? 'password' : 'text'" formControlName="password"
      class="bg-purple-700 text-white" />

    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
      Полето за парола e задължително.
    </mat-error>
    <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
      Паролата трябва да e поне 8 символа.
    </mat-error>
    <mat-error *ngIf="loginForm.get('password')?.hasError('maxlength')">
      Паролата не може да бъде повече от 20 символа.
    </mat-error>

    <button type="button" class="pe-3 mat-icon-button" mat-icon-button matSuffix (click)="hide = !hide"
      [attr.aria-label]="hide ? 'Show password' : 'Hide password'" [attr.aria-pressed]="hide"
      [matTooltip]="hide ? 'Show password' : 'Hide password'">
      <mat-icon class="text-white">{{
        hide ? "visibility_off" : "visibility"
        }}</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit"
    class="w-full bg-orange-500 py-2 rounded shadow hover:bg-orange-400">
    ВХОД
  </button>
</form>
<p class="text-center mt-4">
  Все още нямате акаунт?
  <a (click)="triggerTabChange()" class="text-orange-500 font-bold hover:text-orange-300">Създайте нов акаунт</a>
</p>
