<div class="container mx-auto max-w-7xl mt-4">
    <button mat-raised-button color="primary" (click)="back()">
        <mat-icon>arrow_back</mat-icon>
        Назад
    </button>
    <h1 class="text-center text-2xl font-bold mb-4">Мачове</h1>
    <table mat-table [dataSource]="data" class="min-w-full">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let match"> {{match.id}} </td>
        </ng-container>

        <!-- Match Column -->
        <ng-container matColumnDef="match">
            <th mat-header-cell *matHeaderCellDef> Мач </th>
            <td mat-cell *matCellDef="let match">
                <div class="flex flex-row">{{match.homeTeam.name}} - {{match.awayTeam.name}}</div>
            </td>
        </ng-container>

        <!-- Score Column -->
        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef> Резултат </th>
            <td mat-cell *matCellDef="let match">
                <div *ngIf="match.homeTeam.goals && match.awayTeam.goals;else noResult" class="flex flex-row">{{match.homeTeam.goals}} - {{match.awayTeam.goals}}</div>
            </td>
            <ng-template #noResult> Няма </ng-template>
        </ng-container>

        <!-- Home Team Column -->
        <ng-container matColumnDef="startTime">
            <th mat-header-cell *matHeaderCellDef> Дата и час </th>
            <td mat-cell *matCellDef="let match"> {{match.startTime | date: 'dd MMMM yyyy HH:mm'}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-raised-button color="primary" (click)="addMatch()">Добавяне на мач</button>
            </th>
            <td mat-cell *matCellDef="let match">
                <button mat-raised-button color="accent" class="mr-2" (click)="editMatch(match)">Редакция</button>
                <button mat-raised-button color="warn" (click)="deleteMatch(match)">Изтриване</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>