<div class="container mx-auto max-w-2xl mt-4">
    <h1 class="text-center text-2xl font-bold mb-4">Футболна лига</h1>
    <form [formGroup]="leagueForm">
        <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-700">Име</label>
            <input id="name" formControlName="name" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm">
            <div *ngIf="leagueForm.get('name')?.invalid && (leagueForm.get('name')?.dirty || leagueForm.get('name')?.touched)" class="text-red-500 text-sm mt-2">
                Името е задължително.
            </div>
        </div>
        <div class="flex justify-between items-center">
            <button mat-raised-button color="primary" (click)="back()">
                <mat-icon>arrow_back</mat-icon>
                Назад
            </button>
            <button  (debouncedClick)="onSubmit()" [disabled]="leagueForm.invalid" mat-raised-button color="primary">Запази</button>
        </div>
    </form>
</div>