.top-right {
    top: 10px;
    right: 10px;
    position: absolute;
}

.bottom-right {
    bottom: 4px;
    right: 4px;
    position: absolute;
    color: #f0f0f0;
    width: 30px;
    height: 30px;
    font-size: 16px;
}