<header>
    <mat-toolbar color="primary" *ngIf="isLogged">
        <div class="section-wrapper flex justify-between items-center w-full">
            <span>
                <img src="/../logo.png" class="logo cursor-pointer" alt="TL BET" *ngIf="!isLogged">
                <img src="/../logo.png" class="logo cursor-pointer" alt="TL BET" *ngIf="isLogged" routerLink="match/all-matches">
            </span>
            <nav>
                <ul class="nav-list flex space-x-2">
                    <li mat-button *ngIf="isLogged" routerLink="match/all-matches">Мачове</li>
                    <li mat-button *ngIf="isLogged" routerLink="user/ranking">Класиране</li>
                    <li mat-button *ngIf="isLogged" routerLink="tournament/winner">
                        <span class="sm:hidden  max-sm:flex max-sm:items-center">
                            <mat-icon>emoji_events</mat-icon>
                        </span>
                        <span class="max-sm:hidden">Победител</span>
                    </li>
                </ul>
            </nav>
            <span class="nav-spacer flex-1"></span>
            <nav>
                <ul class="user-list flex space-x-2 items-center">
                    <li *ngIf="isAdmin" [matMenuTriggerFor]="adminMenu">
                        <span class="sm:hidden  max-sm:flex max-sm:items-center">
                            <mat-icon>admin_panel_settings</mat-icon>
                        </span>
                        <span class="max-sm:hidden">Админ</span>
                    </li>
                    <li mat-button *ngIf="!isLogged" routerLink="user/login">Вход</li>
                    <li mat-button *ngIf="!isLogged" routerLink="user/register">Регистрация</li>
                    <li mat-button *ngIf="isLogged" routerLink="user/profile">
                        <span class="sm:hidden  max-sm:flex max-sm:items-center">
                            <mat-icon>account_circle</mat-icon>
                        </span>
                        <span class="max-sm:hidden">Профил</span>
                    </li>
                    <li mat-button *ngIf="isLogged" class="mr-li flex items-center">
                        <span class="sm:hidden  max-sm:flex max-sm:items-center">
                            <mat-icon (click)="logout()">logout</mat-icon>
                        </span>
                        <span class="max-sm:hidden" (click)="logout()">Изход</span>
                    </li>
                </ul>
            </nav>
            <mat-menu #adminMenu="matMenu" class="admin-menu">
                <button mat-menu-item routerLink="admin/tournaments">Турнири</button>
                <button mat-menu-item routerLink="admin/active-round">Активен кръг</button>
                <button mat-menu-item routerLink="admin/leagues">Футболни лиги</button>
            </mat-menu>
        </div>
    </mat-toolbar>
</header>