@import 'src/styles';

.section-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-list,
.user-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-spacer {
    flex: 1 1 auto;
}

.nav-list li,
.user-list li {
    margin-right: 3vh;
    font-size: medium;
    cursor: pointer;
    transition: background-color 0.01s, border-radius 0.05s;
    padding: 0 4px;
}

::ng-deep li:hover,
::ng-deep li:hover {
    background-color: mat-color($primary, 900);
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 16px;
}