<header>
    <mat-toolbar color="primary"
                 *ngIf="isLogged">
        <div class="section-wrapper flex justify-between items-center w-full">
            <span>
                <img src="/../logo.png"
                     class="logo cursor-pointer"
                     alt="TL BET"
                     *ngIf="!isLogged">
                <img src="/../logo.png"
                     class="logo cursor-pointer"
                     alt="TL BET"
                     *ngIf="isLogged"
                     routerLink="match/all-matches">
            </span>
            <nav>
                <ul class="nav-list flex space-x-4">
                    <li mat-button
                        *ngIf="isLogged"
                        routerLink="match/all-matches">Мачове</li>
                    <li mat-button
                        *ngIf="isLogged"
                        routerLink="user/ranking">Класиране</li>
                </ul>
            </nav>
            <span class="nav-spacer flex-1"></span>
            <nav>
                <ul class="user-list flex space-x-4 items-center">
                    <li mat-button
                        *ngIf="isAdmin"
                        [matMenuTriggerFor]="adminMenu">Админ</li>
                    <li mat-button
                        *ngIf="!isLogged"
                        routerLink="user/login">Вход</li>
                    <li mat-button
                        *ngIf="!isLogged"
                        routerLink="user/register">Регистрация</li>
                    <li mat-button
                        *ngIf="isLogged"
                        routerLink="user/profile">Профил</li>
                    <li mat-button
                        *ngIf="isLogged"
                        (click)="logout()">Изход</li>
                </ul>
            </nav>
            <mat-menu #adminMenu="matMenu" class="admin-menu">
                <button mat-menu-item
                        routerLink="admin/dashboard">Турнири</button>
                <button mat-menu-item
                        routerLink="admin/settings">Активен рунд</button>
                <button mat-menu-item
                        routerLink="admin/users">Потребители</button>
            </mat-menu>
        </div>
    </mat-toolbar>
</header>