<header>
  <div class="section-wrapper">
    <section>
      <ul class="nav-list">
        <li><a routerLink="/home" >demo</a></li>
        <li  *ngIf="isAdmin"><a routerLink="team/new-team">new-team</a></li>
        <li  *ngIf="isAdmin"><a routerLink="player/new-player">new player</a></li>
        <li *ngIf="isLoged" ><a routerLink="bet/new-bet">new-bet</a></li>
        <li *ngIf="isAdmin"><a routerLink="tournament/new-tournament">new-tournament</a></li>
        <li  *ngIf="isAdmin"><a routerLink="match/all-matches">all-matches</a></li>
        <li  *ngIf="isAdmin"><a routerLink="match/new-match">new-match</a></li>
      </ul>
    </section>
    <section>

      <ul class="user-list">
        <li *ngIf="!isLoged"><a routerLink="user/login">login</a></li>
        <li *ngIf="!isLoged"><a routerLink="user/register">register</a></li>
        <li *ngIf="isLoged"><a (click)="logout()">logout</a></li>
        <li *ngIf="isLoged">
          <a>profile</a>
        </li><li>
          <a routerLink="user/ranking" >класиране</a>
        </li>
      </ul>
    </section>
  </div>
</header>
