<table mat-table [dataSource]="users" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>потребител</th>
      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row"> <button mat-button (click)="detailShow(row.id)" >Edit</button></td>
      </ng-container>
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    
  </table>
  